<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
           akka {  
                actor{
                    provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
                    deployment {
                        /QuiGonJinn {
                            remote = "akka.tcp://Naboo@localhost:8101"
                        }
                    }
                }
                remote {
                    helios.tcp {
                        port = 0
                        hostname = localhost
                    }
                }
            }
      ]]>
    </hocon>
  </akka>
</configuration>
