<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
           akka {
                actor.provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                remote {
                    helios.tcp {
                        port = 0
                        hostname = localhost
                    }
                }
                cluster {
                    seed-nodes = ["akka.tcp://Empire@localhost:8081"]
                    roles = ["tiefighter"] 
                }
            }
      ]]>
    </hocon>
  </akka>
</configuration>
