<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
           akka {
                actor {
                    provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
                    deployment {
                      /battleship {
                        router = broadcast-group # routing strategy
                        routees.paths = ["/user/tiefighter"] # path of routee on each node
                        nr-of-instances = 3 # max number of total routees
                        cluster {
                           enabled = on
                           allow-local-routees = off
                           use-role = tiefighter
                        }
                      }
                    }
                  }
                remote {
                    helios.tcp {
                        port = 8081
                        hostname = localhost
                    }
                }
                cluster {
                    seed-nodes = ["akka.tcp://Empire@localhost:8081"]
                    roles = ["battleship"] # roles this member is in
                    role.["tiefighter"].min-nr-of-members = 3 # crawler role minimum node count
                }
            }
      ]]>
    </hocon>
  </akka>
</configuration>
